[template]
src = "bird6.cfg.{{if (json (getv "/node_mesh")).enabled}}mesh{{else}}no-mesh{{end}}.template"
dest = "/config/bird6.cfg"
prefix = "/calico/bgp/v1"
keys = [
    {{if (json (getv "/node_mesh")).enabled}}"/host"{{else}}"/host/{{getenv "HOSTNAME"}}"{{end}},
    "/global"
]
reload_cmd = "echo -e 'POST /containers/calico-bird6/kill?signal=HUP HTTP/1.0\r\n' | nc -U /docker.sock"
