[template]
src = "bird_aggr.cfg.template"
dest = "/config/bird6_aggr.cfg"
prefix = "/calico/ipam/v2/host/HOSTNAME/ipv6/block"
keys = [
    "/",
]
reload_cmd = "echo -e 'POST /containers/calico-bird6/kill?signal=HUP HTTP/1.0\r\n' | nc -U /docker.sock"
